/* HomeSkeleton */
.skeleton-home-info{
    width: 50%;
    background-color: #E5EBEF;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.skeleton-home-subTitle{
    height: 1.5625rem;
    width: 12.5rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    padding: 0;
    margin-bottom: 0.625rem;
}
.skeleton-home-name{
    height: 2.5rem;
    width: 25rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    padding: 0;
    margin-bottom: 0.625rem;
}
.skeleton-home-position{
    height: 1.875rem;
    width: 25rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    padding: 0;
    margin-bottom: 0.625rem;
}
.skeleton-home-text{
    height: 1.6875rem;
    width: 21.875rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    padding: 0;
    margin-bottom: 0.625rem;
}
.skeleton-home-btn{
    height: 2.9375rem;
    width: 8.75rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    padding: 0;
}


/* HomeSkeletonImg */
.skeleton-home-img{
    width: 45%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skeleton-profile-img{
    width: 26rem;
    height: 26rem;
    background-color: #E5EBEF;
    border-radius: 50%;
}



/* SHIMMER */
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 1.4s infinite;
}
.shimmer{
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255, 0.2);
    transform: skewX(-20deg);
}
@keyframes loading {
    0%{
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(150%);
    }
}



/* AboutSkeletonInfo */
.skeleton-about-title{
    background-color: #E5EBEF;
    height: 2.5rem;
    width: 14.375rem;
    margin-bottom: 1.875rem;
}
.skeleton-about-info{
    width: 50%;
    background-color: #E5EBEF;
    border-radius: 3px;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}
.skeleton-about{
    background-color: #FFFDFF;
    border-radius: 3px;
    margin-bottom: 0.625rem;
}
.skeleton-about-p1{
    height: 1.6875rem;
    width: 12.5rem;
}
.skeleton-about-name{
    height: 2.3125rem;
    width: 18.75rem;
}
.skeleton-about-position{
    height: 1.6875rem;
    width: 19.375rem;
}
.skeleton-about-p2{
    background-color: #FFFDFF !important;
    height: 1.25rem;
    border-radius: 3px;
    margin-bottom: 0.5em;
}
.skeleton-about-p2.p1{
    width: 100%;
}
.skeleton-about-p2.p2{
    width: 90%;
}
.skeleton-about-p2.p3{
    width: 85%;
}
.skeleton-about-p2.p4{
    width: 88%;
}
.skeleton-about-p2.p5{
    width: 100%;
    margin-bottom: .7rem !important;
}
.skeleton-about-iconInfo{
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
}
.skeleton-about-iconInfo.last{
    margin-bottom: 0 !important;
}
.skeleton-about-icon{
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 3px;
    background-color: #FFFDFF;
    margin-right: 0.9375rem;
}
.skeleton-about-data{
    width: 15.625rem;
    height: 1.375rem;
    border-radius: 3px;
    background-color: #FFFDFF;
}

/* AboutSkeletonImg */
.skeleton-about-img{
    width: 45%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skeleton-about-profileImg{
    width: 26rem;
    height: 26rem;
    background-color: #E5EBEF;
    border-radius: 50%;
}

/* WhatCanIDoSkeleton */
.skeleton-wcid-title{
    background-color: #E5EBEF;
    margin: 0 auto 3rem auto;
    width: 30%;
    height: 2.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.skeleton-wcid-row{
    position: relative;
    overflow: hidden;
}
.skeleton-wcid-card{
    background-color: #E5EBEF;
    border-radius: 3px !important;
    min-height: 19.375rem !important;
    padding: 1.5rem 3rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.skeleton-wcid-div{
    border-radius: 3px;
    background-color: #FFFDFF;
    margin-bottom: .8rem;
}
.skeleton-wcid-div.img{
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 0.625rem;
}
.skeleton-wcid-div.title{
    height: 1.5625rem;
    width: 11.25rem;
}
.wcid-paragraph{
    height: 1.25rem;
    background-color: #FFFDFF;
    margin: 0 auto 6px auto;
    border-radius: 3px;
}
.wcid-paragraph.wcidp1{
    width: 12.5rem;
}   
.wcid-paragraph.wcidp2{
    width: 9.375rem;
} 
.wcid-paragraph.wcidp3{
    width: 11.875rem;
    margin-bottom: 0;
} 


/* SkillsSkeleton */
.skeleton-skills-title{
    height: 2.5rem;
    width: 18.75rem;
    background-color: #E5EBEF;
    margin-bottom: .9rem;
}
.skeleton-skills-subTitle{
    height: 2rem;
    width: 9.375rem;
    background-color: #E5EBEF;
    margin-bottom: .3rem;
}
.skeleton-skills-text{
    height: 1.5rem;
    width: 31.25rem;
    background-color: #E5EBEF;
    margin-bottom: 1rem;
}
.skeleton-skills-row{
    width: 80%;
    margin: 0 auto;
    background-color: #E5EBEF;
    border-radius: 3px;
    padding: .5rem 0 1.3rem 0;
    position: relative;
    overflow: hidden;
}
.skeleton-skills-myGap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.skeleton-skills-icon{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: #FFFDFF;
    margin-bottom: .5rem;
}
.skeleton-skills-iconName{
    height: 1rem;
    width: 5rem;
    background-color: #FFFDFF;
    border-radius: 3px;
}


/* ProjectSkeleton */
.skeleton-project-headTitle{
    width: 15.625rem;
    height: 2.5rem;
    background-color: #E5EBEF;
    margin-bottom: .8rem;
}
.skeleton-project-headText{
    height: 1.625rem;
    width: 20.625rem;
    background-color: #E5EBEF;
}
.skeleton-project-con{
    position: relative;
    overflow: hidden;
}
.skeleton-project-body{
    background-color: #E5EBEF;
    padding: 1rem;
    border-radius: 3px;
}
.skeleton-project-img{
    width: 100%;
    height: 11.3rem;
    background-color: #FFFDFF;
    margin-bottom: .5rem;
}
.skeleton-project-title{
    height: 1.6875rem;
    width: 11.25rem;
    background-color: #FFFDFF;
    border-radius: 3px;
    margin-bottom: .5rem;
}
.skeleton-project-pragraph{
    display: flex;
    flex-direction: column;
    margin-bottom: .3rem;
}
.project-paragraph{
    height: 1.375rem;
    width: 100%;
    background-color: #FFFDFF;
    border-radius: 3px;
}
.project-paragraph:not(:last-child){
    margin-bottom: .3rem;
}
.skeleton-project-techUse{
    height: 1.6875rem;
    width: 90%;
    background-color: #FFFDFF;
    margin-bottom: .7rem;
}
.skeleton-project-btns{
    display: flex;
}
.project-btn{
    height: 2.6875rem;
    width: 7.5rem;
    background-color: #FFFDFF;
}
.project-btn.one{
    margin-right: 1rem;
}
.project-btn.two{
    width: 5rem;
}
.skeleton-project-btnMore{
    margin: 0 auto;
    width: 8.5625rem;
    height: 2.8125rem;
    background-color: #E5EBEF;
}

/* ContactSkeleton */
.skeleton-project{
    height: 40px;
    width: 200px;
    border-radius: 3px;
    background-color: #E5EBEF;
    margin-bottom: 1rem;
}
.skeleton-contact-row{
    position: relative;
    overflow: hidden;
    background-color: #E5EBEF;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
    height: 467px;
}   
.skeleton-contact-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skeleton-contact-img{
    width: 216px;
    height: 400px;
    background-color: #FFFDFF;
    border-radius: 3px;
}

.skeleton-contact-form{
    padding: 1.5rem;
}
.skeleton-contact-subTitle{
    height: 35px;
    width: 30%;
    margin: 0 auto 1rem auto;
    border-radius: 3px;
    background-color: #FFFDFF;
}
.contac-input, .contac-textarea{
    margin-bottom: 1rem;
}
.skeleton-contac-input{
    height: 53px;
    width: 100%;
    border-radius: 3px;
    background-color: #FFFDFF;
}
.skeleton-contac-input.contac-textarea{
    height: 98px;
}
.skeleton-contact-btn{
    height: 45px;
    width: 110px;
    border-radius: 3px;
    background-color: #FFFDFF;
}




@media screen and (max-width: 787px){
    /* HomeSkeletonInfo */
    .skeleton-home-info{
        width: 22.5rem;
    }
    .skeleton-home-subTitle{
        width: 10.625rem;
        margin-bottom: 0.4375rem;
    }
    .skeleton-home-name{
        width: 300px;
        margin-bottom: 0.4375rem;
    }
    .skeleton-home-position{
        width: 300px;
        margin-bottom: 0.4375rem;
    }
    .skeleton-home-text{
        width: 300px;
        margin-bottom: 0.4375rem;
    }

    /* HomeSkeletonImg */
    .skeleton-profile-img{
        width: 17rem;
        height: 17rem;
        background-color: #E5EBEF;
        border-radius: 50%;
    }

    /* AboutSkeletonImg */
    .skeleton-about-img{
        width: 100%;
    }
    .skeleton-about-profileImg{
        width: 18rem;
        height: 18rem;
    }

    /* AboutSkeletonInfo*/
    .skeleton-about-info{
        width: 100%;
    }

    /* SkillsSkeleton */
    .skeleton-skills-row{
        width: 90%;
        display: grid !important;
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }
    .skeleton-skills-myGap {
        margin: 1rem auto 0 auto;
        width: auto;
    }

    /* ContactSkeleton */
    .skeleton-contact-row {
        height: 865px;
    }
    .skeleton-contact-body.col-6{
        width: 100% !important;
    }
    .skeleton-contact-body{
        padding: .8rem 0;
    }
    .skeleton-contact-form.col-6{
        width: 100% !important;
    }
}

@media screen and (max-width: 480px){
    /* HomeSkeleton */
    .skeleton-home-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skeleton-home-subTitle{
        height: 1.5625rem;
        width: 5rem;
    }
    .skeleton-home-name{
        height: 2.3125rem;
        width: 18.125rem;
    }
    .skeleton-home-position{
        width: 16.875rem;
    }
    .skeleton-home-text{
        height: 1.25rem;
        width: 18.75rem;
    }
    .skeleton-home-btn{
        height: 2.5rem;
        width: 7.5rem;
    }

    /* HomeSkeletonImg */
    .skeleton-home-img{
        width: 100%;
    }
    .skeleton-profile-img{
        width: 17rem;
        height: 17rem;
        background-color: #E5EBEF;
        border-radius: 50%;
    }


    /* AboutSkeletonImg */
    .skeleton-about-profileImg{
        width: 15rem;
        height: 15rem;
    }

    /* AboutSkeletonInfo */
    .skeleton-about-title{
        height: 1.75rem;
        width: 12.5rem;
        margin-bottom: 1.875rem;
    }
    .skeleton-about-p2.d-none{
        display: block !important;
    }

    /* WhatCanIDo */
    .wcid-paragraph.wcidp3{
        display: none;
    } 
    .skeleton-wcid-card {
        padding: 1rem 1rem !important;
        min-height: 13.4375rem !important;
    }
    .skeleton-wcid-div {
        margin-bottom: 0.5rem;
    }

    /* SkillsSkeleton */
    .skeleton-skills-title{
        height: 1.9rem;
        width: 10rem;
        margin-bottom: .4rem;
    }
    .skeleton-skills-subTitle{
        height: 1.6rem;
        width: 8rem;
        margin-bottom: .1rem;
    }
    .skeleton-skills-text{
        height: 1.3rem;
        width: 100%;
    }
    .skeleton-skills-row{
        width: 100%;
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        padding: 0 0 1.1rem 0;
    }

    /* ProjectSkeleton */
    .skeleton-project-headTitle{
        width: 12.5rem;
        height: 1.6875rem;
        margin-bottom: .5rem;
    }
    .skeleton-project-headText{
        height: 1.5rem;
        width: 16.875rem;
    }

    /* ContactSkeleton */
    .skeleton-contact-row {
        height: auto;
    }
    .skeleton-contact-body{
        padding: .8rem 0;
    }
    .skeleton-contact-img{
        height: 277px;
    }
    .skeleton-contact-body.col-6{
        width: 100% !important;
    }
    .skeleton-contact-form.col-6{
        width: 100% !important;
    }
    .skeleton-contact-subTitle{
        height: 25px;
    }
    .skeleton-contac-input.contac-input{
        height: 40px;
    }
    .skeleton-contac-input.contac-textarea{
        height: 85px;
    }
    .skeleton-contact-btn{
        height: 42px;
    }
}
