.about-me{
    padding: 2rem 0;
}
.about-title{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.about-me-body{
    margin-bottom: 2.5rem;
}
.about-me-img{
    width: 100%;
    margin-bottom: 1.6rem;
}
.img-me{
    background-image: url(../Asset/152228904_3639387579513474_2193700901534596907_n.jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 0.4375rem rgb(255 255 255 / 30%);
    justify-self: center;
    background-size: cover;
    width: 17rem;
    height: 17rem;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

a{
    text-decoration: none;
}
.about-me-text{
    width: 100%;
}
.paragraph-sub{
    font-size: 1.1rem;
}
.about-name{
    font-size: 1.7rem;
    font-weight: 600;
}
.about-position{
    font-size: 1.2rem;
    font-weight: 600;
}
.about-paragrap{
    font-size: 1rem;
    text-align: justify;
}
.about-li{
    font-size: 1rem;
}
.social-icon{
    font-size: 1.3125rem;
    margin-right: 0.625rem;
}
.about-cando-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.wcid-row{
    flex-direction: column;
}
.wcid{
    padding: .5rem 4rem;
}
.wcid-wrap-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}
.svg{
    width: 5rem;
}
.title-card{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.sub-card{
    font-size: 1rem;
    text-align: center;
}

@media (min-width: 576px) and (max-width: 767px) {
   
}
@media (min-width: 768px) and (max-width: 991.98px){
    .about-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .img-me{
        width: 17.5rem;
        height: 17.5rem;
    }
    .paragraph-sub {
        font-size: 1.2rem;
    }
    .about-name {
        font-size: 2rem;
    }
    .about-position {
        font-size: 1.3rem;
    }
    .about-paragrap {
        font-size: 1.1rem;
    }
    .about-li {
        font-size: 1.1rem;
    }
    .about-cando-title {
        font-size: 1.5rem;
    }
    .wcid-row {
        flex-direction: row;
    }
    .wcid {
        padding: 0 .5rem;
    }
    .wcid-wrap-card {
        min-height: 16rem;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px){
    .about-me-body {
        margin-bottom: 4.5rem;
    }
    .about-me-body.flex-column{
        flex-direction: row !important;
    }
    .about-title {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .about-me-img {
        margin-bottom: 0;
    }
    .img-me{
        width: 23rem;
        height: 23rem;
    }
    .paragraph-sub {
        font-size: 1.3rem;
    }
    .about-name {
        font-size: 2.1rem;
    }
    .about-position {
        font-size: 1.4rem;
    }
    .about-paragrap {
        font-size: 1.2rem;
        text-align: start;
    }
    .about-li {
        font-size: 1.1rem;
    }
    .about-cando-title {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
    }
    .wcid-row {
        flex-direction: row;
    }
    .wcid {
        padding: 0 .8rem;
    }
    .wcid-wrap-card {
        min-height: 16rem;
    }
    .svg {
        width: 5.5rem;
        margin-bottom: .5rem;
    }
    .title-card {
        font-size: 1.2rem;
    }
    .sub-card {
        font-size: 1.1rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px){
    .about-me-body {
        margin-bottom: 4.5rem;
    }
    .about-me-body.flex-column{
        flex-direction: row !important;
    }
    .about-title {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .about-me-img {
        margin-bottom: 0;
    }
    .img-me{
        width: 23rem;
        height: 23rem;
    }
    .paragraph-sub {
        font-size: 1.3rem;
    }
    .about-name {
        font-size: 2.1rem;
    }
    .about-position {
        font-size: 1.4rem;
    }
    .about-paragrap {
        font-size: 1.2rem;
        text-align: start;
    }
    .about-li {
        font-size: 1.1rem;
    }
    .about-cando-title {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
    }
    .wcid-row {
        flex-direction: row;
    }
    .wcid {
        padding: 0 .8rem;
    }
    .wcid-wrap-card {
        min-height: 16rem;
    }
    .svg {
        width: 5.5rem;
        margin-bottom: .5rem;
    }
    .title-card {
        font-size: 1.2rem;
    }
    .sub-card {
        font-size: 1.1rem;
        margin-bottom: 0;
    }
}