.contact{
    padding: 5rem 0;
}
.contact-title.fs-2{
    font-size: 2rem !important;
    font-weight: 600;
}
.contact-title.mb-3{
    margin-bottom: 1rem !important;
}
.contact-title::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #000000;
    left: 142px;
    top: 19px;
}
.contact-row {
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(0,0,0,.15);
}
.contact-img{
    object-fit: cover;
}
.text-center.fs-3{
    font-weight: 600;
}
.contact-input{
    outline: none;
    border: 1px solid #b9b9b9;
}
textarea{
    resize: none;
    outline: none;
    border: 1px solid #b9b9b9;
}
.btn-form {
    font-size: 1.0625rem !important;
    background-color: #000000;
    color: #ffff;
    border-radius: 0;
}
.btn-form:hover{
    background-color: #ffff !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}
.form-text{
    height: 18px;
}
.error-message{
    color: rgb(252, 54, 54) !important;
}
.contact-body{
    background-color: #000000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media screen and (max-width: 787px){
    .contact{
        padding: 3rem 0;
    }
    .contact-title::before{
        width: 50px;
        left: 142px;
        top: 19px;
    }
    .contact-body.col-6{
        width: 100% !important;
    }
    .contact-form.col-6{
        width: 100% !important;
    }
    .contact-body{
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
    }
}

@media screen and (max-width: 480px){
    .contact{
        padding: 2rem 0;
    }
    .contact-form.p-4{
        padding: 1rem .6rem !important;
    }
    .contact-title.fs-2 {
        font-size: 1.4rem !important;
    }
    .contact-title::before{
        width: 20px;
        left: 100px;
        top: 14px;
    }
    .text-center.fs-3 {
        font-size: 1.3rem !important;
    }
    .contact-input.fs-6{
        font-size: 0.9375rem !important;
    }
    textarea.fs-6{
        font-size: 0.9375rem !important;
    }
    .btn-form {
        font-size: 1rem !important;
    }
    .contact-img{
        width: 156px;
        height: 277px;
    }
    .contact-body{
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0;
    }
}