.contact{
    padding: 2rem 0;
}
.contact-title{
    font-size: 1.4rem ;
    font-weight: 600;
    margin-bottom: 1rem;
}
.contact-row {
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(0,0,0,.15);
}
.contact-img{
    object-fit: cover;
    height: 277px;
    width: 156px;
}
.contact-form{
    padding: 1rem .8rem;
    width: 100%;
}
.contact-form-sub{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.contact-input, .textarea{
    outline: none;
    border: 1px solid #b9b9b9;
    padding: .3rem;
    font-size: 1rem;
    width: 100%;
}
.textarea{
    resize: none;
}
.btn-form {
    transition: .3s ease-in-out;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffff;
    width: 100%;
}
.btn-form:hover{
    background-color: #ffff;
    color: #000000;
    border: 1px solid #000000;
}
.form-text{
    height: 18px;
    margin: 0;
}
.error-message{
    color: rgb(252, 54, 54);
    font-size: .9rem;
}
.contact-body{
    background-color: #000000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

@media (min-width: 576px) and (max-width: 767px) {
   
}
@media (min-width: 768px) and (max-width: 991.98px){
    .contact-title {
        font-size: 1.8rem;
    }
    .contact-form-sub {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .contact-title {
        font-size: 2rem;
    }
    .contact-row {
        display: flex;
        flex-direction: row;
    }
    .contact-body {
        width: 50%;
    }
    .contact-img {
        height: 315px;
    }
    .contact-form {
        padding: 1rem 0.8rem;
        width: 50%;
    }
    .contact-form-sub {
        font-size: 1.6rem;
    }
    .contact-input, .textarea {
        font-size: 1.0625rem;
    }
    .btn-form {
        width: auto;
    }
}

@media (min-width: 1200px){
    .contact-title {
        font-size: 2rem;
    }
    .contact-row {
        display: flex;
        flex-direction: row;
    }
    .contact-body {
        width: 50%;
    }
    .contact-img {
        height: 315px;
    }
    .contact-form {
        padding: 1rem 0.8rem;
        width: 50%;
    }
    .contact-form-sub {
        font-size: 1.6rem;
    }
    .contact-input, .textarea {
        font-size: 1.0625rem;
    }
    .btn-form {
        width: auto;
    }
}