.home-content{
    height: 100vh;
    padding: 5rem 0rem 3rem 0rem;
    position: relative;
    overflow: hidden;
}
.home-subtitle{
    font-weight: 500;
}
.home-subtitle::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #000000;
    left: 97px;
    top: 15px;
}
.home-name{
    font-size: 3rem;
    font-weight: 700;
}
.home-title{
    font-size: 2rem;
    font-weight: 600;
    /* color: #0084ff !important; */
    color: #797979 !important;
}
.home-sub-info.fs-6{
    font-size: 1.1rem !important;
}

.home-subtitle, .home-name, .home-title{
    margin: 0;
    font-family: 'Raleway' ,sans-serif;
    color: #000000;
    line-height: 1;
}
.home-github{
    border: 1px solid #000000;
    width: 9.375rem;
    font-size: 1.125rem;
    background-color: #ffff;
    color: #000000;
    border-radius: 3px;
    transition: .3s ease-in-out;
}
.githubIcon{
    margin-left: 0.625rem;
}
.home-github:hover{
    background-color: #000000;
    color: #ffff;
}


.profile-img-body{
    width: 45%;
}
.profile-img{
    background-image: url(../Asset/20230120_134042\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 0.4375rem rgb(255 255 255 / 30%);
    justify-self: center;
    background-size: cover;
    width: 26rem;
    height: 26rem;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.skeleton{
    width: 485px;
    height: 205px;
    background-color: #797979;
}


.bg-dot{
    position: absolute;
    z-index: -1;
    top: 326px;
    left: 548px;
    width: 100%;
    height: 407px;
    background-image: radial-gradient(#000000 5%, transparent 0);
    background-size: 35px 35px;
}




@media screen and (max-width: 787px){
    .home-content{
        padding: 5rem 0rem 3rem 0rem;
    }
    .home-subtitle.fs-4 {
        font-size: 1.3rem !important;
    }
    .home-subtitle::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background-color: #000000;
        left: 78px;
        top: 11px;
    }
    .home-name {
        font-size: 2.3rem;
    }
    .home-title {
        font-size: 1.5rem;
    }
    .profile-img {
        width: 17.5rem;
        height: 17.5rem;
        box-shadow: inset 0 0 0 0.3125rem rgb(255 255 255 / 30%);
    }
    .home-github {
        width: 8.5rem;
        font-size: 1.1rem;
    }
    .home-github.py-2{
        padding: .4rem 0 !important;
    }
    .bg-dot{
        left: 237px;
        height: 336px;
    }
}

@media screen and (max-width: 480px){
    .home-content{
        padding: 5rem 0rem 3rem 0rem;
    }
    .home-content.d-flex{
        flex-direction: column-reverse;
    }
    .home-content.justify-content-between{
        justify-content: space-evenly !important;
    }
    .home-info{
        text-align: center;
        height: 40% !important;
        justify-content: center !important;
    }
    .home-info.w-50{
        width: 100% !important;
    }
    .home-subtitle.fs-4{
        font-size: 1.1rem !important;
    }
    .home-subtitle::before{
        content: '';
        position: absolute;
        width: 0px;
        background-color: #000000;
        left: 0px;
        top: 0px;
    }
    .home-name {
        font-size: 2.1rem;
    }
    .home-title {
        font-size: 1.2rem;
    }
    .home-sub-info.fs-6{
        font-size: 1rem !important;
    }
    .home-github {
        width: 7rem;
        font-size: 1rem;
        margin: 0 auto;
    }
    .profile-img-body {
        width: 100%;
        height: 50% !important;
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }
    .bg-dot{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: initial;
    }
    
}