.project{
    padding: 2rem 0;
}
.prject-header-title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}
.project-text{
    font-size: 1rem;
    margin-bottom: 0;
}
.row-ga{
    padding-top: .5rem;
}
.project-col{
    padding-top: .6rem;
    padding-bottom: .6rem;
}
.col-body{
    box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(0,0,0,.15);
    border-radius: 2px;
    padding: 1rem;
}
.img-body{
    margin-bottom: .5rem;
}
.project-img{
    transition: .3s ease-in-out;
}
.project-img:hover{
    transform: scale(1.5);
}
.project-title{ 
    font-size: 1.25rem;
    margin-bottom: 0;
    font-weight: 600;
}
.project-sub-title{
    font-size: 1rem;
    margin-bottom: 0;
}
.tech-use{
    color: #1a1a1a;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: .4rem;
}
.a-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a-live-demo, .a-code{
    width: 48%;
}
.a-code{
    background-color:  #ffff !important;
    color: black !important;
}
.a-live-demo, .a-code, .btn-show-more{
    transition: .3s ease-in-out;
    font-size: .9rem;
    border-radius: .2rem;
    border: 1px solid #000000;
    text-align: center;
}
.a-live-demo:hover, .btn-show-more:hover{   
    background-color: #ffff !important;
    color: #000000 !important;
    border: 1px solid #000000;
    font-weight: 600;
}
.a-code:hover{   
    background-color: black !important;
    color: #ffff !important;
    font-weight: 600;
}
.more-wrap {
    padding-top: 1rem;
}
.btn-show-more{
    display: block;
    padding: .6rem .7rem;
}


@media (min-width: 576px) and (max-width: 767px) {
   
}
@media (min-width: 768px) and (max-width: 991.98px){
    .prject-header-title {
        font-size: 1.8rem;
    }
    .project-text {
        font-size: 1.1rem;
    }
    .project-sub-title {
        font-size: 1.1rem;
    }
    .tech-use {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .prject-header-title {
        font-size: 2rem;
    }
    .project-text {
        font-size: 1.2rem;
    }
    .project-title {
        font-size: 1rem;
    }
    .project-sub-title {
        font-size: .9rem;
    }
    .tech-use {
        font-size: .9rem;
    }
}

@media (min-width: 1200px){
    .prject-header-title {
        font-size: 2rem;
    }
    .project-text {
        font-size: 1.2rem;
    }
    .project-title {
        font-size: 1rem;
    }
    .project-sub-title {
        font-size: .9rem;
    }
    .tech-use {
        font-size: .9rem;
    }
}