.skills{
    padding: 2rem 0;
}
.skill-title{
    font-size: 1.4rem;
    margin-bottom: .8rem;
    font-weight: 600;
}
.skill-subtitle{
    font-size: 1.3rem;
    font-weight: 600;
}
.skill-text{
    font-size: 1rem;
    margin-bottom: 0;
}
.skills-row{
    padding-top: 1.3rem;
}
.my-gap {
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
}
.tech-icon{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-icon{
    font-size: 4.5rem;
    color: #aaa;
}
.icon-name{
    font-size: .9rem;
    margin-bottom: 0;
    color: #aaa;
}
.skills-icon.html{
    color: #E44D26;
}
.skills-icon.css{
    color: #1B73BA;
}
.skills-icon.javaScript{
    color: #F0DC4E;
}
.skills-icon.react{
    color: #00D9FF;
}
.skills-icon.git{
    color: #F05134;
}
.skills-icon.github{
    color: #161614;
}
.skills-icon.commandline{
    color: #3C3C3C;
}
.skills-icon.VSCode{
    color: #3C99D4;
}
.bootstrap{
    color: #8712F7;
}
.materialUi{
    width: 72px;
    height: 72px;
    padding: .5rem 0;
}
.skills-icon.typeScript{
    color: #2F74C0;
    padding: .4rem 0;
}
.skills-icon.nodeJs{
    color: #000000;
}
.skills-icon.expressJs{
    color: #000000;
}
.skills-icon.mongoDB{
    color: #09934E;
}
.icon-name{
    color: #161614;
}

@media (min-width: 576px) and (max-width: 767px) {
   
}
@media (min-width: 768px) and (max-width: 991.98px){
    .skill-title {
        font-size: 1.8rem;
    }
    .skill-subtitle {
        font-size: 1.5rem;
    }
    .skill-text {
        font-size: 1.1rem;
    }
    .skills-icon {
        font-size: 4.7rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .skills-row {
        width: 90%;
        margin: 0 auto;
    }
    .skill-title {
        font-size: 2rem;
    }
    .skill-subtitle {
        font-size: 1.7rem;
    }
    .skill-text {
        font-size: 1.2rem;
    }
    .icon-name {
        font-size: 1rem;
    }
    .skills-icon {
        font-size: 5rem;
    }
    .materialUi{
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1200px){
    .skills-row {
        width: 90%;
        margin: 0 auto;
    }
    .skill-title {
        font-size: 2rem;
    }
    .skill-subtitle {
        font-size: 1.7rem;
    }
    .skill-text {
        font-size: 1.2rem;
    }
    .icon-name {
        font-size: 1rem;
    }
    .skills-icon {
        font-size: 5rem;
    }
    .materialUi{
        width: 80px;
        height: 80px;
    }
}